@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

// --- Variables ---

:root {
  --color-white: #fff;
  --color-dark-100: #231f20;
  --color-dark-200: #3c3c3c;
  --color-dark-300: #999999;
  --color-dark-400: #c3c3c3;
  --color-orange-100: #f3922294;
  --color-orange-200: #f39222;
  --color-orange-300: #f39323;
  --color-yellow: #fdd304;
}

// --- Reseting Styles && Setting Global Styles ---

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// --- Styling Why Us Section ---

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1460px;
  margin: 0 auto;
  padding: 70px 16px 92px;

  &__header {
    text-align: center;
    margin-bottom: 72px;
  }

  &__subheading {
    font-weight: 300;
    font-size: 18px;
    color: var(--color-dark-300);

    span {
      color: var(--color-orange-200);
    }
  }

  &__features {
    display: flex;
    justify-content: center;
    gap: 54px;
    margin-bottom: 64px;

    @media only screen and (max-width: 1320px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 720px) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 36px 22px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #00000026;
    text-align: center;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 0px 15px #f3922294;
    }

    @media only screen and (max-width: 1320px) {
      &:nth-child(2)::after {
        display: none;
      }
    }
    @media only screen and (max-width: 720px) {
      &:nth-child(2)::after {
        display: block;
      }
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--color-orange-200);
      transform: translate(37px, -50%);

      @media only screen and (max-width: 720px) {
        top: 100%;
        left: 50%;
        transform: translate(-50%, 17px);
      }
    }
  }

  &__icon {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 14px 0 28px;
  }

  &__item-heading {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 24px;
    color: var(--color-white);

    span {
      padding: 0px 12px;
      background-color: var(--color-dark-200);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }
  }

  &__description {
    font-weight: 300;
    font-size: 12px;
    color: var(--color-dark-300);
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 4px;
    border: 3px solid var(--color-orange-300);
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
    color: var(--color-orange-200);
    transition: all 0.2s;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      width: 38px;
      height: 38px;
      margin: 4px 6px;
      background-image: url("./svg/pdf-icon.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: background-image 0.3s;
    }

    &:hover,
    &:focus {
      outline: none;
      background-color: var(--color-orange-300);
      color: var(--color-white);

      span {
        border-right: 1px var(--color-white) solid;
      }

      &::after {
        background-image: url("./svg/pdf-icon-white.svg");
      }
    }
    span {
      padding: 12px 16px;
      border-right: 1px var(--color-orange-200) solid;
      text-transform: uppercase;
      transition: border-right 0.2s;
    }
  }
}

// --- Styling FAQ Section

.faq {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-orange-300);
    clip-path: polygon(0% 100%, 0% 20%, 100% 5%, 100% 100%);

    @media only screen and (max-width: 1360px) {
      clip-path: polygon(0% 100%, 0% 150px, 100% 100px, 100% 100%);
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 108px;
    max-width: 1460px;
    min-height: 760px;
    margin: 0 auto;
    padding: 0 16px 96px;

    @media only screen and (max-width: 1360px) {
      padding-bottom: 64px;
      min-height: auto;
    }

    @media only screen and (max-width: 600px) {
      padding-bottom: 64px;
      min-height: auto;
    }
  }

  &__questions {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-self: flex-start;
    width: 50%;
    @media only screen and (max-width: 1360px) {
      align-self: center;
      width: 100%;
      max-width: 800px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--color-white);
    border-radius: 10px;
    overflow: hidden;
  }

  &__open {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-white);
    cursor: pointer;

    @media only screen and (max-width: 540px) {
      gap: 8px;
      padding: 12px;
    }

    &--icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: var(--color-orange-200);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: background-image 0.2s;
    }

    &--plus {
      background-image: url("./svg/plus.svg");
    }

    &--minus {
      background-image: url("./svg/minus.svg");
    }

    &--text {
      font-weight: 700;
      font-size: 18px;
      color: var(--color-orange-200);
      line-height: 1;

      @media only screen and (max-width: 540px) {
        font-size: 12px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s;

    &--open {
      grid-template-rows: 1fr;
    }
  }

  &__box {
    overflow: hidden;
  }

  &__text {
    padding: 12px 16px;
    font-size: 12px;
    color: var(--color-white);
    overflow: hidden;
  }

  &__cover {
    position: absolute;
    bottom: 0;
    right: 2%;

    @media only screen and (max-width: 1360px) {
      display: none;
    }
  }
}

// --- Other Styles

.heading {
  margin-bottom: 16px;
  font-size: 36px;
  color: var(--color-dark-300);
  text-align: center;
}

.footer {
  width: 100%;
  height: 96px;
  background-color: var(--color-dark-100);
}
